/* @override 
	http://fireball.herokuapp.com/static/css/site.css
*/

body {
	color: #707a7b;
	margin-top: 70px;
}


.navbar .pull-right {
	padding-right: 20px;
}

.navbar .brand {
	margin-left: 5px;
	margin-top: 4px;
	color: #FFF;
}

.navbar .nav > li > a {
	padding: 14px 20px;
	text-shadow: none;
}

.navbar .nav > li  img {
	width: 18px;
	height: 18px;
	-webkit-border-radius: 3px;
}

.messages {
	list-style-type: none;
	top: 50px;
	right: 10px;
	position: absolute;
	z-index: 200;
}

.messages li {
	margin: 10px 0;
	padding: 18px 28px;
	border: 1px solid #ccc;
	font-size: 16px
}

.messages li:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
}

#loader {
	margin-top: 70px;
	text-align: center;
}


#blobs {
	position: absolute;
	z-index: 100;
}

.blob {

	background: #fff;
    border: 1px solid #e0dfdc;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
            box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

#blobs .blob {
	display: none;
	width: 230px;
	float: left;
}

.photo {
	background: #111;
	position: relative;
	width: 230px;


}

.blob:hover .photo img {
	opacity: .3;
}

#blobs .blob .photo img {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #4e5a5b;
}

.blob p {
	margin-bottom: 0;
	padding-top: 5px
}

.blob strong {
	color: #777;
	font-weight: normal;
}

.blob-options {
	margin: 5px;
	z-index: 100;
	right: 20px;
	display: none;
	top: 10px;
	position: absolute;
	padding: 5px 7px 4px;
	background-color: #eee;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 1px 3px #ccc;
	-moz-box-shadow: 0 1px 3px #ccc;
	box-shadow: 0 1px 3px #ccc;
}

.blob:hover .blob-options {
	display: block;
}

#form {
	border: 1px solid #ccc;
	background-color: white;
	padding: 15px;
}

#form h1 {
	font-family: 'Monoton';
	text-align: center;
	font-weight: normal;
	margin-bottom: 15px;
}

form {
	margin-bottom: 0;
}

textarea {
	height: 70px;
}

.form-actions {
	margin-bottom: 0;
}

.blob div.meta {
	margin-top: 8px;
	padding: 0px 20px 15px;
	
}

div.meta img {
	margin-right: 10px;
	-webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

#blobs .blob span.description {
	color: #8a9596;
	display: block;
	padding: 2px 20px 10px;
	border-bottom: 1px solid #e0dfdc;
	margin: 0 -20px 15px;
}

.blob span.username {
	color: #666;
	font-weight: 500;
	font-size: 11px;
	line-height: 10px;
}

span.date {
	display: block;
	color: #999;
	font-weight: 500;
	font-size: 11px;
	line-height: 12px;
}

.profile-header {
	position: relative;
	margin-top: -25px;
	background: #999;
	height: 200px;
	margin-bottom: 25px;
	background-size: cover;
}

.profile-header .user-meta {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.profile-header .user-meta ul.nav {
	background: rgba(0,0,0,0.5);
	margin-bottom: 0;
	padding-left: 20px;
}

.profile-header .user-meta ul.nav li.active a{
	color: #333;
}

.profile-header .user-meta ul.nav li a {
	color: #f2f2f2;
}

.profile-header .user-meta ul.nav li a:hover {
	color: #333;
}

.profile-header h2 {
	font-weight: normal;
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px 5px #111;
	font-size: 36px;
	margin-bottom: 25px;
}

.profile-header img#avatar  {
	text-align: center;
	display: block;
	margin: 0 auto;
	border: 1px solid #333;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
            box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.single-blob .blob {
	width: 100%;
	margin-top: 20px;
	border-color: #555;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}


.single-blob .blob img {
    width: 100%;
}

.comments h3 {
	font-weight: normal;
	border-bottom: 1px solid #e0dfdc;
}

ul.blob-details {
	margin-top: 76px;
}

ul.blob-details li {
	padding: 5px 10px;
	border-bottom: 1px solid #e0dfdc
}

ul.blob-details li i {
	opacity: .75;
}

ul.blob-details li a {
	color: #999;
}

ul.blob-details ul.tags li{
	border-width: 0;
	padding: 0 0 0 5px;
	font-size: 12px;	
}

ul.blob-details h4 {
	font-size: 14px;
	line-height: 16px;
}