{% extends 'core/base.html' %}{% load humanize %}{% load compress %}{% load core %}

{% block title %}{{ object.description }}{% endblock %}

{% block yield %}
<div class="container">
	<div class="row">
	<div class="span6 single-blob">
		
		<div class="meta">
			<img class="pull-left" id="avatar" width="64" height="64" src="https://secure.gravatar.com/avatar/{{ object.user|email_hash }}?s=64" />
			<span class="username"><a href="{% url 'blobs:user' object.user %}">{{ object.user }}</a></span>
			<span class="date">{{ object.pub_date|naturaltime }}</span>
			<div class="clearfix"></div>
		</div>
		
		<div class="blob">
			<img src="{{ object.thumbnail.url }}" alt="{{ object.description }}" />		
		</div>
		
		
		<div class="comments">
		<h3>Responses</h3>
		</div>
		
	</div><!-- span8 -->
	
	<div class="span4">
		<ul class="unstyled blob-details">
			<li><i class="icon-heart"></i> Like</li>
			<li><i class="icon-share"></i> Share</li>
			<li><i class="icon-eye-open"></i> {{ view_count }} Views</li>
			<li><a href="{% url 'blobs:fullsize' object.id %}"><i class="icon-picture"></i> Fullsize</a></li>
			<li><h4>Description</h4>
				<span class="description">{{ object.description }}</span>
			</li>
			<li><h4>Tags</h4>
				<ul class="unstyled tags">
				
				{% for tag in tags %}
				<li class="tag"><a class="{{ tag|slugify }}" href="/tags/{{ tag|slugify }}/">{{ tag }}</a></li>
				{% empty %}
				<li class="tag">No tags yet.</li>
				{% endfor %}
				
				</ul>
			</li>
		</ul>
	</div>
	
	</div><!-- row -->
</div>
{% endblock %}