{% extends 'core/pages.html' %}

{% block title %}About{% endblock %}

{% block header %}About fireball{% endblock %}
{% block description %}http://fireball.underlost.net{% endblock %}

{% block yield %}
<section class="page" id="about">

	<ul class="unstyled">
		<li>Hand crafted by: <a href="http://underlost.net">Tyler Rilling</a> of <a href="http://eye1.org">Eye1.org</a>.</li>
		<li>Follow him on twitter: <a href="http://twitter.com/underlost">@underlost</a></li>
		<li>You can send email to: <a href="mailto:tyler@underlost.net">tyler@underlost.net</a>.</li>
	</ul>
	
	<p>The site is still pretty early in beta, and sections may not appear right or may down right be broken. Right now this is just a hobby site Im building in my free time. Have a suggestion or feedback? Feel free to message me on twitter or email me directly.</p>
	
	<p>Im also looking to get some text based ads running on the site. See the <a href="/advertise">advertising</a> section for more details.</p>
	
</section>                    
{% endblock %}
