{% extends 'base.html' %}

{% block title %}About | Jaded Gamer{% endblock %}

{% block content %}
<section class="page" id="advertise">

	<h2>Advertise on Jaded Gamer</h2>
	
	<p>Im looking to replace the horribly ugly google adsense ads with something nicer looking. Something that will blend in to the site and not be as noticeable. The plan right now is to run 3-4 TEXT ads in its place. More information will become available as I work out the details.</p>
		
	<h4>SCHEDULE:</h4>
	<p>Scheduling is a little flexible at the moment. All ads will run for at least one week (seven days), but can run as long as you want.
	
	<h4>PRICE:</h4>
	<p>APricing will be starting at $100 for a week for a single text ad.</p>
	
	<p>For more information, contact me at tyler @ underlost .net with the subject "Advertising".</p>

</section>
{% endblock %}